@font-face {
  font-family: 'FloridaVibesByTurbologo';
  src: url('../fonts/FloridaVibesByTurbologo.otf');
  font-weight: normal;
  font-style: normal;
}

@property --rotateGold {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.vkuiButton {
  .vkuiLink {
    color: currentColor;
    &:hover {
      text-decoration: none;
    }
  }
}

.counterCol {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  background: linear-gradient(180deg, #F8D498 0%, #E9BA78 26.5%, #FFAA38 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  h1 {
    font-size: 42px;
    margin-bottom: 5px;
  }
  .delimiter {
    font-size: 32px;
    font-weight: bold;
  }
}

#animateHeartWrapper {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
    & > .animateHeart {
      &:first-child {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        animation: pulse 2.5s linear infinite;
      }
      &:last-child {
        z-index: 1;
        position: relative;
        animation: pulse 2.5s linear infinite;
      }
    }
}

.pulseLine {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--vkui--color_accent_orange);
    border-radius: 50%;
    z-index: 1;
    animation: pulseLine 3s cubic-bezier(1, 0.5, 0, 0.5) infinite;
  }
}

//vip blocks
.golden_text {
  background: linear-gradient(180deg, #F8D498 0%, #E9BA78 26.5%, #FFAA38 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vip-block {
  border-radius: var(--vkui--size_border_radius_paper--regular);
  background: linear-gradient(194.65deg, #191919 0%, #1F1F1F 19%, #333333 48.5%, #3D3D3D 77.5%, #101010 100%);
  padding: 10px;
  box-sizing: border-box;
  p {
    font-size: 14px;
    margin: 5px 0px;
    line-height: 1;
    text-align: left;
    color: white;
  }
  h5 {
    color: white;
  }
}

.vip-modal-page {
  .vkuiModalPage__in {
    background: linear-gradient(194.65deg, #191919 0%, #1F1F1F 19%, #333333 48.5%, #3D3D3D 77.5%, #101010 100%);
    padding: 15px;
  }
  h2, span {
    color: white;
  }
  h4 {
    background: linear-gradient(180deg, #F8D498 0%, #E9BA78 26.5%, #FFAA38 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    font-size: 14px;
  }
}

.renestra-vip-title {
  h1, h2 {
    font-family: FloridaVibesByTurbologo, serif;
    line-height: 1;
    font-weight: normal;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h1, h2, h5 {
    color: white;
  }
}

.gold_light {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  padding: 5px 0px;

  --card-height: 50vh;
  --opacity: .75;

  &::before {
    width: 100%;
    content: "";
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(var(--rotateGold), #f9f295, #E0AA3e 43%, #e0aa3e);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    animation: spin 2.5s linear infinite;
    opacity: var(--opacity);
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 18);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotateGold), #f9f295, #E0AA3e 43%, #e0aa3e);
    opacity: var(--opacity);
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
}

.gold_button {
  padding: 5px 16px;
  /* Золотой градиент */
  background: linear-gradient(180deg, #F8D498 0%, #E9BA78 26.5%, #FFAA38 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

@keyframes spin {
  0% {
    --rotateGold: 0deg;
  }
  100% {
    --rotateGold: 360deg;
  }
}

@keyframes animateGlow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulseLine {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.animate-gradient {
  background: linear-gradient(130deg, #f0f2f5, #9fa2a2);
  background-size: 400% 400%;

  -webkit-animation: AnimationGradient 3s ease infinite;
  -moz-animation: AnimationGradient 3s ease infinite;
  animation: AnimationGradient 3s ease infinite;
}

@-webkit-keyframes AnimationGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@media only screen and (max-width: 480px) {
  .vip-block {
    p {
      font-size: 12px;
    }
  }
}
